@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
body{
  
  background-color: whitesmoke;
  margin: 0;
 display: flex;
 justify-content: center;
 text-align: center;
}